<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

  <%= link_to image_tag(@user.image, style:'width:100px'), users_path%>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= @user.content %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
